# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# ===== Virtual environments =====
.venv/
venv/
env/

# ===== pyenv =====


# ===== VS Code =====
.vscode/

# ===== OS junk =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
